@media screen and (max-width:576px) {
    .nav-bar {
        margin-left: 10px;
        margin-right: 20px;
        align-items: center;

    }

    .header-btn-item {
        display: none;
    }

    .h-bar {
        display: block;
    }

    /* Banner related */

    /* Banner related end */

    /* Your habit related style */

    .run-section-head {
        flex-direction: column;
        gap: 20px;
        /* padding: 20px; */
        margin-left: 10px;
        margin-right: 10px;
    }

    .run-text {
        max-width: 287px;
        width: 100%;
    }

    .run-text h1 {
        font-size: 2rem;
    }

    /* Your habit related end */

    /* training and exercise start */


    .training-text-head {
        max-width: 331px;
        ;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .image-up,
    .image-down {
        margin-left: 10px;
        margin-right: 10px;
    }

    .training-text-head h1 {
        font-size: 2rem;
    }

    .image-up-3,
    .image-down-3 {
        display: none;
    }

    .image-up-2 {
        max-width: 205.95px;
        width: 100%;
        height: 139px;
    }

    .image-up-3 {
        max-width: 539px;
        width: 100%;
        height: 256px;
    }

    .image-down-2 {
        max-width: 365px;
        width: 100%;
    }

    .image-down-3 {
        max-width: 264px;
        width: 100%;
    }

    /* bmi section start */

    .bmi-main {
        flex-direction: column;
        padding: 20px;
    }
    .bmi-title{
        margin-bottom: 32px;
        padding: 20px;
    }
    .input-field-2>input,
    .input-field-3>input,
    .input-field-4>input,
    .option-main,
    .option-main>option{
        min-width: 0;
    }

    

    /* BMI calculator END */

    /* Our team section start */

    .our-team-content-head{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }

    .our-team-head h1 {
        font-size: 32px;
        margin-left: 10px;
        margin-right: 10px;
    }

   /* Meet our team section End */
    
}