/* Google Font css import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama?styles=170364');

/* Universal shared style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    margin: 0 auto;
    max-width: 100%;
}

.font {
    font-family: "Inter", 'miami', sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


/* Shared style */

.display-flex {
    display: flex;
}

.font-size {
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.50);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.section-header {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.btn-primary {
    border-radius: 42px;
    background: #E6533C;
    padding: 16px 40px;
    border: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    transition: all 1s;
}

.btn-primary:hover {
    background-color: black;
    border: 2px solid white;
}

.heading-text-size {
    color: #FFF;
    font-family: Inter;
    font-size: 4rem;
    font-weight: 900;
    line-height: 120%;
}

.medium-text-size {
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    /* 33.6px */
}




/* Nav related style */

.nav-bar {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 57px;
    margin-bottom: 100px;
}

.nav-bar .header-text {
    color: #E6533C;
    font-size: 2rem;
    font-style: italic;
    font-weight: 800;
    line-height: 120%;
}

.nav-bar .header-text-item {
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    padding: 4px;
}

.nav-bar .header-text-item .header-btn-item {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.125rem;
    font-weight: 400;
    margin-right: 47px;
    cursor: pointer;
}

.nav-bar .header-text-item .x-attribute {
    border-radius: 46px;
    background: #E6533C;
    padding: 8px 20px;
}


.h-bar {
    display: none;
}

/* Nav related style end */

/* Banner style start */

/* banner style end */


/* Your habits related style */





/* Habit realated style end */

/* Run extra related style start */

.run-section-head {
    border-radius: 18px;
    background: #222;
    padding: 30px 32px 29px 54px;
    gap: 165px;
    align-items: center;
    margin-bottom: 100px;
}

.run-text {
    max-width: 443px;
    width: 100%;
}

.run-text p {
    margin-top: 14px;
    margin-bottom: 34px;
}

.run-img {}

.run-img img {
    width: 100%;
    border-radius: 18px;
}

/* Run Extra related style End */

/* Training and exerecise style start */

.training-text-head {

    /* margin: 0 auto; */
    /* max-width: 1060px; */
    /* width: 100%; */
}


.training-text-head {
    max-width: 671px;
}

.training-text-head h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
}

.training-text-head p {
    margin-bottom: 60px;
}

.image-up-1 {
    background: linear-gradient(0deg, rgba(6, 255, 210, 0.50) 0%, rgba(6, 255, 210, 0.50) 100%), url('../images/exercise1.jpg') lightgray 50% / cover no-repeat;
    max-width: 380px;
    width: 100%;
    align-content: end;
    padding-bottom: 40px;
    padding-left: 30px;
}

.image-up-2 {
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.30) 0%, rgba(255, 0, 0, 0.30) 100%), url('../images/exercise2.png') lightgray -0.336px 0px / 100.125% 111.811% no-repeat;
    width: 100%;
    max-width: 600px;
    height: 218px;
    align-content: start;
    padding: 30px 40px;
}

.image-up-3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('../images/exercise3.png') lightgray 50% / cover no-repeat;
    max-width: 450px;
    width: 100%;
    align-content: end;
    padding-left: 70px;
    padding-bottom: 30px;
}

.image-down-1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('../images/exercise4.png') lightgray 50% / cover no-repeat;
    max-width: 600px;
    height: 240px;
    width: 100%;
    text-align: end;
    padding-right: 20px;
    padding-top: 40px;
}

.image-down-2 {
    background: linear-gradient(0deg, rgba(66, 255, 0, 0.30) 0%, rgba(66, 255, 0, 0.30) 100%), url('../images/exercise5.jpg') lightgray 50% / cover no-repeat;
    max-width: 350px;
    height: 240px;
    width: 100%;
    align-content: end;
    padding-left: 34px;
    padding-bottom: 34px;
}

.image-down-3 {
    background: linear-gradient(0deg, rgba(0, 71, 255, 0.30) 0%, rgba(0, 71, 255, 0.30) 100%), url('../images/exercise6.jpg') lightgray 50% / cover no-repeat;
    max-width: 480px;
    width: 100%;
    align-content: end;
    padding-left: 34px;
    padding-bottom: 34px;
}

.for-font-er-pera h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 0.81rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.image-down h2 {
    max-width: 176px;
    width: 100%;
}

.for-font-er-pera {
    margin-bottom: 100px;
}

/* Training and exercise  end */

/* BMI caclulator start */

.bmi-header {
    padding-top: 52px;
}

.bmi-main {
    justify-content: space-between;
}

.bmi-title {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 88px;
}

.bmi-title h1,
.bmi-title p {
    max-width: 671px;
    width: 100%;
    margin-bottom: 14px;
}

.bmi-title h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.bmi-background {
    background: #222;
}

.bmi-main h1 {
    margin-bottom: 52px;
    max-width: 443px;
    width: 100%;
}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 10px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
}

#table-head th {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
}

.bmi-table {
    /* max-width: 900px; */
    width: 100%;
    height: 250px;
}

.bmi-chart {
    max-width: 450px;
    width: 100%;
}

.bmi-calculator {
    max-width: 577px;
    width: 100%;
    margin-bottom: 52px;
}


.bmi-calculator h2 {
    margin-bottom: 14px;
}

.input-field {
    margin-top: 34px;
    margin-bottom: 34px;
}

.input-field-2>input,
.input-field-3>input,
.input-field-4>input,
.option-main,
.option-main>option {
    height: 48px;
    padding: 12px 40px 12px 40px;
    align-items: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    min-width: 243px;
    max-width: 577px;
    width: 100%;
    flex-grow: 1;
}

.gap {
    gap: 10px;
    margin-bottom: 10px;
}

/* BMI calculator option End */


/* Meet our team section start */

.our-team-head{
    max-width: 671px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 88px;
    margin-bottom: 58px;
}
.our-team-head h1 {
    color: #FFF;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
}

.our-team-content-head {
    background-color: rgba(255, 255, 255, 0.10);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 18px;
}

.our-team-content-img img {
    max-width: 450px;
    width: 100%;
    height:274px;
    border-radius:18px;
}

.our-team-content-img {
    position: relative;

}

.our-team-content-img h2 {
    left: 8%;
    top: 75%;
    position: absolute;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 120%
}

.our-team-content-img p {
    left: 8%;
    top: 87%;
    position: absolute;
    color: rgba(255, 255, 255, 0.50);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 120%;
}

/* Meet Our Team section End */